@use 'themes/light.scss';
@use 'themes/dark.scss';
@use 'fonts/fonts.scss';
@use 'reset.scss';

.light, .dark {
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
}

.app {
    width: 100vw;
    height: 100vh;
}