.OutfitListItem {
  border: 1px solid #c3c2c2;
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s ease-in-out all;

  &:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}

.outfitNameContainer {
  position: relative;
  width: 100%;

}

.outfitName, .outfitDescription {
  position: absolute;
  left: 0;
  color: white;
  background-color: rgb(54 54 54 / 56%);
  padding: 10px;
  border-radius: 0 15px 15px 0;
}

.outfitName {
  top: 300px;
  font-size: 24px;

  &:hover {
    transform: scale(1.1);
    left: 10px;
    transition: 0.2s ease-in-out all;
  }
}

.outfitDescription {
  top: 360px;
  max-width: 250px;
}

.image {
  flex-shrink: 0.7;
  min-width: 100%;
  min-height: 100%;
}