
@font-face {
  font-family: 'MyFontBold';
  src: url('/src/assets/style/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontLight';
  src: url('/src/assets/style/fonts/Inter-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
