.Header {
  background-color: var(--header-bg-color);
  height: 50px;
  padding: 0 20px;
}

.logo {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 2.6px;
  color: var(--header-text-color);
}