@use 'themes/light';
@use 'themes/dark';
@use 'fonts/fonts';
@use 'reset';

.light, .dark {
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
}

.app {
    width: 100vw;
    height: 100vh;
}